<%= provide(:header, "Questão '#{@question.title}'") %>

<% breadcrumb :question, @question %>

<%= link_to '#', class: "btn btn-primary pull-right test-open",
                 style: "margin-left: 10px" do %>
  <i class="fa fa-coffee" aria-hidden="true"></i>
  Testar solução
<% end %>

<%= link_to "Deletar", @question, method: :delete,
                       class: "btn btn-primary pull-right",
                       style: "margin-left: 10px",
                       data: { confirm: "Tem certeza que deseja excluir?" } %>

<%= link_to "Editar", edit_question_path(@question),
                      class: "btn btn-primary pull-right" %>

<br></br>

<div class="box box-solid box-default">
  <div class="box-header">
    <h3 class="box-title"><%= @question.title %></h3>
  </div>

 <div class="box-body">
    <%= markdown(@question.description) %>
  </div>
  
  <div class="box-footer">
    <a href="<%= new_question_test_case_path(@question) %>" class="btn btn-primary pull-right">
      <i class="fa fa-plus-square-o" aria-hidden="true"></i>
      Adicionar caso de teste
    </a>

    <b>Possui <a href="<%= question_test_cases_path(@question) %>"><%= pluralize_test_cases(@question.test_cases.count) %></a></b>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    // Open test modal.
    $('.test-open').click(function() {
     <%= render partial: 'show_test_modal.js' %>
    });
  });
</script>
