<%= provide(:header, "Questões do exercício '#{@exercise.title}'") %>

<% breadcrumb :list_questions, @team, @exercise %>

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#status" data-toggle="tab" aria-expanded="true">
        Status das questões
      </a>
    </li>


  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="status">
      <%= render(
            partial: 'teams/list_questions/questions_status',
            locals: {
                exercise: @exercise,
                team: @team,
                recommendation_checker: @recommendation_checker
            }
          )
      %>
    </div>

    
  </div>
</div>
