<h4>Sua Resposta</h4>
<%= form_for @answer, url: yield(:url), method: :post, remote: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% unless @team.nil? %>
    <%= f.hidden_field :team_id, value: @team.id %>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, id: 'editor', class: "form-control" %>
    <div id="editor_div"></div>
  </div>

  <div class="form-group">
    Linguagem permitida: <b style="color: blue"><%= @question.answer_language_allowed.capitalize %></b>
  </div>

  <% if @submitable %>
    <div class="submit">
      <%= f.submit "Submeter resposta", class: "btn btn-primary btn-xs pull-right" %>
    </div>
  <% end %>
<% end %>


<script>
  function adjust_screen() {
//    var new_height =  $('.content-wrapper').height()
//                      - $('#test-results').height()
//                      - $('#error_explanation').height();
//    $('.content-wrapper').height(new_height);
    $('#test-results').empty();
    $('#error_explanation').remove();
    $('#answer-result').remove();
    $('.submit').append('<i class="fa fa-refresh fa-spin"></i>');
  }
//  $('.content-wrapper').height($('.content-wrapper').height() + 300)

  var textarea = $('#editor');
  textarea.hide();

  var editor = ace.edit("editor_div");
  editor.setTheme("ace/theme/twilight");

  <% if @answer.lang_extension == "pas" %>
    editor.getSession().setMode("ace/mode/pascal");
  <% elsif @answer.lang_extension == "c" %>
    editor.getSession().setMode("ace/mode/c_cpp");
  <% elsif @answer.lang_extension == "cpp" %>
    editor.getSession().setMode("ace/mode/c_cpp");
  <% elsif @answer.lang_extension == "python" %>
    editor.getSession().setMode("ace/mode/python");
  <% end %>

  editor.insert("<%= escape_javascript(raw @content) %>");

  // When click put ace editor content in form hidden textarea.
  $('input[name="commit"]').on('click', function() {
    textarea.val(editor.getSession().getValue());
    adjust_screen();
  });
</script>
