<div class="box">
  <div class="box-header">
    <h3 class="box-title"><b>Sua situação atual</b></h3>
    <div class="pull-right" style="color: green"><%= incentive_ranking_feedback %></div>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th style="width: 10px"></th>
          <th>Aluno</th>
          <th>Pontuação</th>
          <th>Últimas respostas</th>
        </tr>

        <% @incentive_ranking.each_with_index do |data, index| %>
          <% if data[:user] == current_user %>
            <tr class="user-row">
          <% else %>
            <tr>
          <% end %>
            <td><%= incentive_ranking_position(index, @current_user_index) %></td>
            <td><%#= name_to_display(data[:user], @team) %></td>
            <td><%= data[:score] %></td>

            <td>
              <div class="flex-box">
                <% data[:answers].each do |answer| %>
                  <div class="flex-item <%= answer_class(answer) %>" data-toggle="tooltip" data-placement="right" data-html="true" title="<%= answer_info(answer) %>">
                    <%= answer.question.title %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
