<div class="box">
  <div class="box-header">
    <h3 class="box-title"><b><%= title %></b></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body no-padding">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th style="width: 10px"></th>
          <th>Aluno</th>
          <th class="text-center">Pontuação</th>
          <th></th>
          <th class="text-center">Questões<br>Corretas</th>
          <th></th>
        </tr>

        <% ranking.each_with_index do |data, index| %>
          <% if data[:user] == current_user %>
            <tr class="user-row">
          <% else %>
            <tr>
          <% end %>
            <td><%= position(index) %></td>
            <td><%= name_to_display(data[:user], @team) %></td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-info"
                     style="width: <%= score_representation(base_score, data[:score]) %>"></div>
              </div>
            </td>
            <td>
              <span class="badge bg-blue"><%= data[:score] %></span>
            </td>
            <td>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-success"
                     style="width: <%= score_representation(@num_questions, data[:num_correct_questions]) unless data[:num_correct_questions].nil? %>"></div>
              </div>
            </td>
            <td>
              <span class="badge bg-blue"><%= data[:num_correct_questions] %></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
</div>
