<%= provide(:header, "Visualização da resposta") %>

<div class="row">
  <div class="col-md-6">

    <%= render(
      layout: 'shared/structures/box_default',
      locals: { box_title: "Informações principais" }
    ) do %>

      <%= render partial: 'shared/answer_info', locals: { answer: @answer } %>

      <br></br>

      <%= link_to(
        "Enviar mensagem ao aluno",
        new_message_path(receiver_ids: [@answer.user.id], answer_ids: [@answer.id]),
        method: :get,
        class: "btn btn-primary text-center pull-left",
        target: "_blank"
      ) %>

      <button id="show-answer" class="btn btn-primary pull-right">
        Visualizar resposta
      </button>
    <% end %>

  </div><!-- /.col-md-6 -->

  <div class="col-md-6">

    <%= render layout: 'shared/structures/box_default',
               locals: { box_title: "Informações principais" } do %>

       <% @answer.test_cases_results.each do |test_case_result| %>
         <%= render partial: 'shared/test_case_result',
                    locals: { test_case_result: test_case_result, force_show_expected_output: current_user.admin || current_user == @answer.team.owner } %>
       <% end %>

    <% end %>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <%= render layout: 'shared/structures/box_default',
               locals: { box_title: "Respostas semelhantes" } do %>

        <% @similar_answers.each do |object| %>
          <div class="callout callout-<%= correct_style(object[:answer].correct) %>">
            <h4>
              <%= object[:answer].user.name %>
              <%= link_to answer_path(object[:answer].id),
                          class: "label label-default pull-right",
                          style: "margin: 5px", target: "_blank",
                          title: "Visualizar resposta" do %>
                <i class="fa fa-eye"></i>
              <% end %>

              <%= link_to answer_connection_path(object[:connection_id]),
                          class: "label label-default pull-right",
                          style: "margin: 5px", title: "Visualizar relação" do %>
                <i class="fa fa-link"></i>
              <% end %>
            </h4>
            Similaridade
            <div class="progress">
              <div class="progress-bar progress-bar-yellow progress-bar-striped"
                  style="width: <%= object[:similarity] %>%">
                    <%= object[:similarity] %>%
              </div>
            </div>
          </div>
        <% end %>

    <% end %>

  </div>

</div>

<script text="text/javascript">
  $('#show-answer').click(function() {
    showModal('answer-content', true, function(modalName) {
      var div = $(document.createElement('div'))
      div.attr('id', modalName + '-container');
      $('body').append(div);
      $(div).html("<%= escape_javascript(render partial: 'answer_content_modal', locals: { answer: @answer }) %>");
      $('body').append(div);
    });
  });
</script>
