<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div class="box box-primary">

      <div class="box-body">
        <%= form_for [@question, @test_case] do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <div class="form-group">
            <%= f.label "Título" %>
            <%= f.text_field :title, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label "Descrição" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>

          <div  class="form-group">
            <%= f.label "Input" %>
            <%= text_area_tag "test_case[inputs][]", @test_case.inputs.first, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label "Output esperado" %>
            <%= f.text_area :output, class: "form-control" %>
          </div>
          
          <div class="form-group">
            <%= f.label "Em caso de erro, apresentar ao aluno saída esperada?" %>
            <%= f.check_box :show_expected_output %>
          </div>

          <%= f.submit yield(:button_text), class: "btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
