<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="width: 10px">#</th>
      <th>Exercício</th>
      <th>Progresso</th>
    </tr>
    <% @team.team_exercises.each_with_index do |e, index| %>
      <% exercise = e.exercise %>
      <tr>
        <td><%= index %>.</td>
        <td>
          <% if e.active %>
            <%= link_to(
              exercise.title,
              list_exercise_questions_team_path(@team, exercise)
            )%>
          <% else %>
            <%= exercise.title %> <span class="badge bg-red">Inativo</span>
          <% end %>
        </td>
        <td>
          <div class="progress progress-xs">
            <div class="progress-bar progress-bar-alert" style="<%= progress(exercise, @team) %>"></div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
