<table class="table table-bordered">
  <tbody>
    <tr>
      <th style="width: 10px">#</th>
      <th>Exercício</th>
      <th class="text-center">Ativo</th>
      <th style="width: 50px"></th>
    </tr>

    <% team_exercises.each_with_index do |team_exercise, index| %>
      <tr id="team-exercise-<%= team_exercise.id %>">
        <td><%= index %>.</td>
        <td><%= link_to team_exercise.exercise.title, exercises_path(team_exercise.exercise) %>
          <% unless team_exercise.active %>
            <span class="badge bg-red">Inativo</span>
          <% end %>
        </td>
        <td style="text-align: center">
          <%= check_box_tag '', 1, team_exercise.active, class: "update-status", "data-team-exercise-id": team_exercise.id %>
        </td>
        <td>
          <%= link_to(
            team_exercise,
            method: :delete,
            id: "remove-exercise-#{team_exercise.id}",
            title: "Remover exercício",
            remote: true,
            data: { confirm: "Tem certeza que deseja remover esse exercício da disciplina?" }
          ) do %>
              <div class="text-center">
                <i class="fa fa-times" style="color: red; margin-right: 4px"></i>
              </div>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
